# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science.
* Explore common open source tools in Data Science.
* Understand basic arithmetic operations in Python.
* Learn how to create Markdown cells in Jupyter.
* Practice creating tables and lists in Markdown.

### Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. JAVA
4. R

| Data Science Tools |
| ------------------ |
| Github       |
| Jupter Notebook  |
| Rstudio       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply 3 by 4 and then add 5.
result = (3 * 4) + 5
print(result)

17

In [3]:
# This will convert 200 minutes to hours by dividng by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author
Devam Singh